@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

/* globals.css */

/* Keyframes for flying animation */
@keyframes flyAround {
  0% {
    transform: translate(-100px, -100px) rotate(0deg);
  }
  25% {
    transform: translate(50vw, 30vh) rotate(45deg);
  }
  50% {
    transform: translate(-30vw, -40vh) rotate(90deg);
  }
  75% {
    transform: translate(20vw, -50vh) rotate(135deg);
  }
  100% {
    transform: translate(-100px, -100px) rotate(180deg);
  }
}


    .blink {
      display: inline-block;
      width: 10px;
      animation: blink 1s steps(2, start) infinite;
      color: neonGreen;
      font-size: 1.5rem;
    }

    @keyframes blink {
      0%, 100% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }

    @keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideInLeft {
  animation: slideInLeft 1s ease forwards;
}

.animate-slideInRight {
  animation: slideInRight 1s ease forwards;
}



@keyframes slideLeft {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

@keyframes slideRight {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.animate-slideLeft {
  animation: slideLeft 30s linear infinite;
}

.animate-slideRight {
  animation: slideRight 30s linear infinite;
}




:root {
  /* Primary Colors */
  --themeBG: url('/backgroundXP.webp'); /* Background image */
  --mainColor: #00FF00; /* Neon green for primary elements */
  --maintextColor: #00FF00; /* Green for primary text */

  /* Accent Colors */
  --accentColor: #00FFFF; /* Cyan for accents and hover states */
  --highlightColor: #FFFFFF; /* White for critical text or borders */

  /* Neutral and Supporting Colors */
  --windowBackground: #000000; /* Black for windows and main background */
  --secondaryTextColor: #FFFFFF; /* Dark grey for secondary text */
  --shadowColor: #333333; /* For shadows and subtle separations */

  /* Optional Secondary Accents */
  --specialAccentColor: #8000FF; /* Purple for rare highlights */
  --alertColor: #ADFF2F; /* Yellow-green for notifications or alerts */
}

/* light theme */
[data-theme='light'] {
  --themeBG: url('/backgroundLightXP.webp'); /* Light background image */
  --mainColor: #0055FF; /* Darker blue for primary elements */
  --maintextColor: #0055FF; /* Darker blue for primary text */

  /* Accent Colors */
  --accentColor: #0088FF; /* Darker cyan for accents and hover states */
  --highlightColor: #333333; /* Darker grey for critical text or borders */

  /* Neutral and Supporting Colors */
  --windowBackground: #ffdcdc; /* Lighter grey for windows and main background */
  --secondaryTextColor: #666666; /* Darker grey for secondary text */
  --shadowColor: #CCCCCC; /* For shadows and subtle separations */

  /* Optional Secondary Accents */
  --specialAccentColor: #8000FF; /* Purple for rare highlights */
  --alertColor: #FFD700;
}

/* dark theme */
/* [data-theme='dark'] {
  --themeBG: url('/backgroundXP.webp');
  --mainColor: #00FF00;
  --maintextColor: #00FF00;
  --accentColor: #00FFFF;
  --highlightColor: #FFFFFF;
  --windowBackground: #000000;
  --secondaryTextColor: #FFFFFF;
  --shadowColor: #333333;
  --specialAccentColor: #8000FF;
  --alertColor: #ADFF2F;
} */

[data-theme='dark'] {
  --themeBG: url('/backgroundXP.webp');
  --mainColor: #800080;
  --maintextColor: #008080;
  --accentColor: #00FFFF;
  --highlightColor: #FF0000;
  /* Neutral and Supporting Colors */
  --windowBackground: #000;
  --secondaryTextColor: #FFF;
  --shadowColor: #333;
  /* Optional Secondary Accents */
  --specialAccentColor: #FF00FF;
  --alertColor: #FFFF00;
}





